{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block body %}

    <style>

        .box2 {
            width: 250px;
            margin: 20px auto;
            border: 2px solid #8B0000;
            padding: 20px;
            text-align: center;
            font-weight: 700;
            color: #FFFAF0;
            background: #8B0000;
            font-family: arial;
            position: relative;
        }


        /* speech bubble 9 */

        .sb9:before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #8B0000;
            border-bottom: 10px solid transparent;
            right: 50%;
            bottom: -23px;
        }


    </style>

    <!-- Page Content -->
    <div class="bg-dark">
        <div class="container bg-dark">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row mb-3">
                        <a href="#"><img src="./static/img/TheIEMShop.png" alt=""
                                         class="mw-100  page-holder img-fluid "></a>
                    </div>
                    <!-- /.row --><!--Row 1.1 -->

                    <div class="row ml-2">
                        <a href="/shop" class="btn btn-light; border border-white; ml-1"
                           style="background: #533918; color: #ffffff">Items</a>
                        <a href="/avatarshop" class="btn btn-light; border border-white; ml-1"
                           style="background: #533918; color: #ffffff">Avatar</a>

                    </div>
                    <!-- /.row --><!--Row 1.2 -->
                    <div class="row ml-4 mb-5">
                        <div class="row border border-white overflow-auto"
                             style="background: #b77a44; height:400px;overflow-y:scroll">
                            {% for shopItem in shopItems %}
                                <div class="col-lg-3 m-2 p-1 text-white" style="background: #533918">
                                    <div class="card h-100">
                                        <a href="#"><img class="card-img-top" src="./static/img/{{ shopItem.item.name }}.png"
                                                         alt=""></a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">{{ shopItem.item.name }}</a>
                                            </h4>

                                            <button name="buy" style="background: #d9b980; color: #ffffff"
                                                    class="btn btn-lg active" type="submit"
                                                    onclick="buyItem({{ shopItem.id }}, {{ shopItem.price }});">
                                                Buy $ {{ shopItem.price }}
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        <!-- /.row --> <!-- Row 1.3 -->
                    </div>

                </div>
                <!-- Column 1 --><!-- /.col-lg-8 -->
                <div class="col-lg-3 align-self-center">
                    <div class="row ml-3 mb-3">
                        <div class="container-fluid p-2 my-2 bg-secondary text-white border border-white rounded">
                            <img src="./static/img/coins.png" class="float-left">
                            <div class="pt-3">
                                <h5> {{ balance }} </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-3 mt-5 mb-4">
                        <div class="box2 sb9">
                            <p>Hello How can I help you?</p>
                        </div>
                    </div>
                    <div class="row ml-3 justify-content-center">
                        <img src="./static/img/shopkeeper1.png" class="float-right">
                    </div>
                </div>
                <!-- Column 2 --><!-- /.col-lg-4 -->
            </div>
            <!-- /.row --><!-- Row 0 -->
        </div>
        <!-- /.container -->

    </div>

    {#    <div class="container">#}
    {#        <div class="row justify-content-center ">#}
    {#            <div class="col-3 p-3 align-self-center; "#}
    {#                 style="background: #d9b980 ; color: #875a31 ; border: #875a31 ; ">#}
    {#                <h5><strong>Not enough coins </strong></h5>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row justify-content-center">#}
    {##}
    {#            <a href="/shop" class=" text-white btn btn-sm m-2" style="background: #875a31">Close</a>#}
    {#        </div>#}
    {#    </div>#}


    {#    <!-- Button trigger modal -->#}
    {#    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
    {#        Launch demo modal#}
    {#    </button>#}


    <!-- Modal -->
    <div class="modal fade" id="noticeMessage" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Not enough money
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirectPost(url, data) {
            var form = document.createElement('form');
            document.body.appendChild(form);
            form.method = 'post';
            form.action = url;
            for (var name in data) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = name;
                input.value = data[name];
                form.appendChild(input);
            }
            form.submit();
        }

        const currentMoney = {{ balance }};

        function buyItem(itemId, itemPrice) {
            if (currentMoney < itemPrice) {
                $('#noticeMessage').modal('toggle');
            } else {
                let data = {itemId};

                redirectPost('/shop', data);
            }
        }

    </script>

{% endblock %}
